{% extends "main.html" %}
{% block content %}
{% load static %}
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Contact</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'course' %}">Courses</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Contact Us</h6>
                <h1 class="mb-5">Contact For Any Query</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h5>Get In Touch</h5>
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">Office</h5>
                            <p class="mb-0">Samarqand viloyati, Samarqand shahri, Amir Temur ko'chasi, 224 </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">Mobile</h5>
                            <p class="mb-0">+998 93 487 44 37</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12288.594173859008!2d66.9237637!3d39.6463714!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d19312a689ce9%3A0x45f0bafb5b149754!2sIT%20PARK!5e0!3m2!1sru!2s!4v1686330180337!5m2!1sru!2s" width="400" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form method="post" action="{% url 'contact' %}">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name", name="name">
                                    <label for="name">I.F.O</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="seria" placeholder="Passport" name="ps_seria">
                                    <label for="seria">Seria va raqam</label>
                                </div>
                            </div>
                            <div class="core">
                            <select name="ins" id="direc" style="width: 408px; height: 50px; text-size: 50px;" class="form-control" type="text">
                                <option value="Kompyuter savodxonligi">Kompyuter savodxonligi</option>
                                <option value="Frontend dasturlash">Frontend dasturlash</option>
                                <option value="Backend dasturlash">Backend dasturlash</option>
                                <option value="Grafik dizayin">Grafik va Web dizayin</option>
                                <option value="3DMax">3D_Max va AuthoCAD</option>
                                <option value="3DMax">SMM</option>
                                <option value="3DMax">Robototexnika</option>
                                <option value="3DMax">Mobil dasturlash</option>
                                <option value="3DMax">Moushn grafika</option>
                                <option value="3DMax">IT English</option>
                            </select>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="direction" placeholder="Direction" name="teacher">
                                    <label for="direction">O'qituvchi</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="phone" placeholder="Direction" name="numer">
                                    <label for="phone">Tel Numer</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px" name="message"></textarea>
                                    <label for="message">Ma'lumotlar</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit" style="border-radius: 25px;">Ro'yxatdan o'tish</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock %}